**/__pycache__/
**/__pycache__/*
.vscode/
run.sh
run_2.sh
gligen_inference.py
*.pkl
Glayout
layout/*
visual
visual/*
CLIP
CLIP/*
diffusers/
diffusers/*
checkpoints/gligen
checkpoints/segmentation/*
!checkpoints/stable_diffusion/*
experiments/segmentation_model/ckpt/*
experiments/yolo_ckpt/*
outputs/*
!examples/*
examples*
experiments/*
experiments/datasets/VOC2012
!examples/strokes/example1/*
*.png
*.jpg
runs/
runs/*
temp_vis/
temp_vis/*
logs/*
experiments/outputs/*
data_evaluate_LLM/eval_metrics/detection/UniDet-master/detectron2
data_evaluate_LLM/eval_metrics/detection/UniDet-master/detectron2/*
__pycache__/*
__pycache__
size.txt
openai_api_key.txt
.vscode/*
!test/xml_utils/*.jpg
temp_vis/*
.DS_Store
!experiments/datasets
!experiments/*.py
*.tar
